*.meta
*.unity
*.prefab
*.mat
*.anim
*.controller
*.asset
*.shader
*.asmdef
*.csproj
*.sln
*.userprefs
*.user
*.pidb
*.userosx
*.usermacos
*.userwin
*.suo
*.userprefs
*.pidb
*.userosx
*.usermacos
*.userwin
*.DS_Store
__MACOSX
*.log
