*.unity
*.prefab
*.mat
*.anim
*.controller
*.asset
*.shader
*.csproj
*.sln
*.userprefs
*.user
*.pidb
*.userosx
*.usermacos
*.userwin
*.suo
*.userprefs
*.pidb
*.userosx
*.usermacos
*.userwin
!/Assets/
*.DS_Store
__MACOSX
*.log
